[submodule "pages/themes/terminal"]
	path = pages/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "libGravity"]
	path = libGravity
	url = https://github.com/awonak/libGravity
