<fieldset style="padding:60px; margin-bottom:20px; width:100%">

<select id="file-select" name="files" style="max-width: 380px;">
    <!-- The value should be the path to your hex file -->
    <option value="{{ .Site.BaseURL }}/releases/Gravity.v2.0.0beta4.hex">Alt Gravity Firmware - v2.0.0beta4</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.oldBootloader.v2.0.0beta4.hex">Alt Gravity Firmware - v2.0.0beta4 (old bootloader)</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.v2.0.0beta3.hex">Alt Gravity Firmware - v2.0.0beta3</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.oldBootloader.v2.0.0beta3.hex">Alt Gravity Firmware - v2.0.0beta3 (old bootloader)</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.v2.0.0beta2.hex">Alt Gravity Firmware - v2.0.0beta2</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.oldBootloader.v2.0.0beta2.hex">Alt Gravity Firmware - v2.0.0beta2 (old bootloader)</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.v2.0.0beta1.hex">Alt Gravity Firmware - v2.0.0beta1</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.oldBootloader.v2.0.0beta1.hex">Alt Gravity Firmware - v2.0.0beta1 (old bootloader)</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.v1.1.2.hex">Gravity Firmware - v1.1.2</option>
    <option value="{{ .Site.BaseURL }}/releases/Gravity.oldBootloader.v1.1.2.hex">Gravity Firmware - v1.1.2 (old bootloader)</option>
</select>

<button style="width: auto;"
    id="upload-button"
    arduino-uploader
    hex-href="{{ .Site.BaseURL }}/releases/Gravity.ino.hex"
    board="nano"
    verify
    port-filters='[{"usbProductId":46388,"usbVendorId":1241}]'
>
    Upload
    &nbsp;
    <span class="upload-progress"></span>
</button>

</fieldset>